@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');



.ballet-kim {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}